@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-family: "Noto Sans", sans-serif;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1c172b;
}

.container {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    /* grid-gap: 4rem; */
}

.first-col {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #222831;
    /* background-color: rgb(156, 150, 150); */
}

.calender_name {
    margin-top: 2vh;
}

.month {
    height: 12%;
    width: 90%;
    margin-left: 2rem;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    color: aliceblue;
    font-size: 2rem;
    font-weight: 700;
}

.bx {
    margin-left: 3rem;
    font-size: 3rem;
    cursor: pointer;
}

.calender_name p {
    color: antiquewhite;
    font-size: x-large;
    background-color: #222831;
}

.calender_box {
    /* background-color: cornflowerblue; */
    height: 35vh;
    width: 80%;
    margin-top: 3.2vh;
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
}

.weeks {
    display: flex;
    align-items: center;
    height: 15%;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: transparent;
    /* background-color: burlywood; */
}

.wkd {
    font-weight: 600;
}

.days {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: transparent;
}

.date {
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-color: transparent;
    /* background-color: burlywood; */
    border-radius: 50%;
    font-size: 1.5rem;
}

.second-col {
    height: 100vh;
    background-color: rgb(113, 146, 129);
}